http://cartracker-scaper.duckdns.org {

  # Root → dashboard
  handle {
    reverse_proxy dashboard:8501
  }

  # Explicit dashboard path (optional but nice)
  handle_path /dashboard* {
    reverse_proxy dashboard:8501
  }

  handle_path /admin* ops:8060
    reverse_proxy ops:
  }

  handle_path /api* {
    reverse_proxy ops:5005
  }

  handle_path /n8n* {
    reverse_proxy n8n:5678
  }

  handle_path /pgadmin* {
    reverse_proxy pgadmin:80
  }
}